<header class="navbar navbar-fixed-top navbar-inverse">

  <!--ヘッダーカラーチェンジ-->
  <div class="header">
    
    <div class="container">
      <i><%= link_to "Task app", '#', id: "logo" %></i>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Top",   '#' %></li>
       　　<li><%= link_to "Log in", '#' %></li>
      　</ul>
    　</nav>
    </div>
    
  </div>
  
</header>
